.p1 {
    font-family: Arial, sans-serif;
}
.p2 {
    font-family: "Times New Roman", serif;
}
.p3 {
    font-family: "Courier New", monospace;
}
.p4 {
    font-family: "Comic Sans MS", cursive;
}
.p5 {
    font-family: "Impact", sans-serif;
}