p.one{
    border: 2px solid black;
}
p.two{
    border-left: 6px solid red;
}
p.three{
    border-right: 6px solid blue;
}
p.four{
    border-top: 6px solid green;
}
p.five{
    border-bottom: 6px solid orange;
}